.banner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  // height: 100vh;
  width: 100%;
}

.carousel-item {
  height: 100vh;
  // min-height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
}

.banner-text-container{
    position: absolute;
    top: 40%;
    width: 40%;
    right: 30%;
    z-index: 998;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #808080;
}

.typed-cursor{
  font-size: 40px;
}

#banner-typed-text {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 3.7px;
  text-shadow:  1px 2px #787;
}
